.control-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid red;  */
}

.control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; 
  background-color: rgba(0, 0, 0, 0.25); */


  border: none; 
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgb(228 228 228 / 15%); 

  border-radius: 1rem;
  font-size: 3.5rem;
  width: 12rem;
  height: 4rem; 
  color: white; 
}

.control-prev,
.control-next {
  font-size: 3rem;
}
